<div id="pattern" class="relative h-full w-full bg-bg-white">
  <div class="wrapper mx-auto max-w-[1360px]">
    <div class="top-image absolute -top-[155px] left-0">
      <img
        class="h-full w-full object-cover"
        src="/images/partner/partner_image.png"
        alt=""
      />
    </div>
    <h1 class="mt-[185px] text-6xl font-bold">
      <span class="text--bg-black">Our</span>
      <span class="text-bg">Partners</span>
    </h1>

    <div class="partners_image-list">
      <!-- top partners -->
      <div
        class="top-partners mb-[66px] flex items-center justify-center gap-[70px]"
      >
        <img src="/images/partner/indochat.png" alt="IndoChat logo" />
        <img src="/images/partner/antara.png" alt="Antara logo" />
        <img src="/images/partner/chatnews.png" alt="Chatnews logo" />
      </div>
      <!-- others partners -->

      <div
        class="others-partners mb-20 flex w-full flex-wrap items-center justify-center gap-x-10"
      ></div>
    </div>
  </div>
</div>
