<nav
  class="navbar mx-auto flex items-center justify-center bg-transparent pt-14 pb-0 text-xl text-bg-white"
>
  <!-- logo -->
  <div class="mr-[70px]">
    <a class="btn-ghost btn h-[75px] normal-case">
      <img
        class="h-full w-full object-contain"
        src="/images/logo/logo.png"
        alt="logo"
      />
    </a>
  </div>
  <!-- selector -->
  <div>
    <ul class="menu menu-horizontal flex h-[75px] gap-[35px] px-1 text-xl">
      <li>
        <a class="font-bold text-bg">Home</a>
      </li>
      <li><a class="">Promotion</a></li>
      <li><a class="">About Us</a></li>
      <li tabindex="0">
        <a class="h-full">
          Product
          <img
            class="h-1.5 w-3 object-cover"
            src="/images/icon/arrow_down.png"
            alt=""
          />
        </a>
        <ul class="bg-base-100 p-2">
          <li><a>Submenu 1</a></li>
          <li><a>Submenu 2</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- community -->
  <div>
    <ul class="menu menu-horizontal flex h-[75px] gap-[15px] px-1 text-xl">
      <li class="">
        <a class="p-0">
          <img
            class="h-[42px] w-[42px]"
            src="/images/icon/facebook.png"
            alt=""
          />
        </a>
      </li>
      <li class="">
        <a class="p-0">
          <img
            class="h-[42px] w-[42px]"
            src="/images/icon/instagram.png"
            alt=""
          />
        </a>
      </li>
      <li class="">
        <a class="p-0">
          <img
            class="h-[42px] w-[42px]"
            src="/images/icon/linkedin.png"
            alt=""
          />
        </a>
      </li>
    </ul>
  </div>

  <!-- i18n selector -->
  <div>
    <ul class="menu menu-horizontal h-[75px] flex-grow px-1 text-xl">
      <li tabindex="0">
        <a class="h-full">
          ENG
          <img
            class="h-1.5 w-3 object-cover"
            src="/images/icon/arrow_down.png"
            alt=""
          />
        </a>
        <ul class="bg-base-100 p-2">
          <li><a>Submenu 1</a></li>
          <li><a>Submenu 2</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <!-- contact us button -->
  <div>
    <button class="bg btn h-[70px] rounded-md border-0 bg-bg normal-case">
      <span class="text-xl font-bold">Contact us</span>
    </button>
  </div>
</nav>
